.wrap{
    position: relative;
}
.inner{
    width: 75%;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
}
.slider{
    display: grid;
    width: 100%;
    transition: all .3s;
}
.slide__dop{
    background-color: aliceblue;
}
.arrows{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.arrow__left{
    left: 10%;
    transform: translate(-120%, -50%);
    background: url("../../../img/slider-arrow-left.svg") no-repeat;
    background-size: 75%;
    background-position: center;
}
.arrow__right{
    right: 10%;
    transform: translate(+120%, -50%);
    background: url("../../../img/slider-arrow-right.svg") no-repeat;
    background-size: 75%;
    background-position: center;
}
.slide{
    padding: 10px;
    transition: all .3s;
}
.slide__item{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}
.item__img{
    overflow: hidden;
}
.img{
    width: 100%;
    border-radius: 50%;
}
.item__name h3{
    font-weight: var(--bold-text);
}

.small{
    background-color: aquamarine;
}
.mid{
    background-color: bisque;
}
.smaller{
    transform: scale(.8);
}
.middle{
    transform: scale(.9);
}
@media (max-width: 500px){
    .wrap{
        width: 90%;
        margin: auto;
    }
    .arrows{
        width: 30px;
        height: 30px;
    }
}