.wrap {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}

.inner {
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.title {
    text-transform: uppercase;
    font-weight: normal;
}

.yellow__button {
    width: max-content;
    border-radius: var(--button-border-radius);
    background-color: var(--yellow);
    padding: 10px 25px;
    border: none;
    color: var(--blue);
    text-transform: uppercase;
    height: 50px;
    font-family: 'Kyiv Region'
}

.first__screen__wrap {
    width: 100%;
    min-height: 600px;
    background: url('../../img/first-screen.png') no-repeat;
    background-size: cover;
    border-radius: var(--picture-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}

.first__screen__inner {
    color: #fff;
    display: flex;
    height: 100%;
    width: 100%;
}

.first__screen__info__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first__screen__info__inner {
    width: 75%;
    display: flex;
    flex-direction: column;
}
.big__size{
    font-size: 40px;
    font-family: 'Kyiv Region';
    margin: 0;
}
.middle__size{
    font-size: 24px;
}





.vision__wrap {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.vision__card__split {
    display: flex;
    gap: 25px;
}

.vision__card {
    height: max-content;
    padding: 25px;
    border: solid 2px var(--blue);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 155px;
    width: 50%;
    margin: auto;
    font-family: 'Inter';
    transition: transform 0.5s ease-in-out;
    height: 100%;
}
.vision__card__content{
    display: flex;
    align-items: end ;
    gap: 20px;
    margin-left: 26px;
}
.vision__desc{
    flex-direction: column;
    align-items: center;
    margin-left: 0;
}
.vision__card__content > p{
    text-align: center;
    margin: 0;
}
.vision__card:hover {
    cursor: pointer;
    transition: all .3s;
}
.vision__card__desc {
    border: solid 2px var(--yellow);
}

.vision__card__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    gap: 10px;
}
.vision__card__info p{
    margin: 0;
}
.vision__arrow__wrap {
    height: max-content;
    display: flex;
    align-items: end;
}

.vision__card__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.vision__img__wrap img{
    max-width: 75px;
    max-height: 75px;

}
.vision__img__wrap{
    filter: grayscale(70%);
}
.title__vision {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-top: 15px!important;
    font-family: 'Kyiv region';
    font-size: 20px;
    font-weight: 600;
}


.directions__wrap {
    text-align: center;
    height: max-content;
}

.directions__cards__wrap {
    height: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    /* position: relative; */

}

.directions__card__wrap {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.directions__card__img {
    border-radius: var(--picture-border-radius);
    height: 250px;
    overflow: hidden;
}

.directions__card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;	
}

.directions__card__info {
    border-radius: var(--card-border-radius);
    border: solid 2px var(--blue);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 12px;
    min-height: 175px;
}
.directions__card__info h3, .directions__card__info p{
    margin: 0;
}
.directions__card__panel {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.directions__card__panel p{
    max-width: 75%;
    font-family: 'Inter';
}
.directions__card__img img{
    width: 100%;
}
.directions__card__button {
    border-radius: var(--button-border-radius);
    background-color: var(--blue);
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.more__about__button {
    width: 100%;
    border-radius: var(--button-border-radius);
    background-color: var(--blue);
    color: #fff;
    border: none;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.more__about__button__inner {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more__about__button__arrow__wrap {
    max-width: 16px;
}



.about__us__wrap {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12.5%;
}

.about__us__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.about__us__img__wrap{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about__us__img__wrap img {
    max-width: 100%;
}
.about__us__img__wrap__rotated{
    transform: rotate(180deg);
}
.about__us__info>h2,
.about__us__info>p {
    margin: 0;
}




.our__pictures__wrap {
    width: 100%;
    height: max-content;
    text-align: center;
}

.our__pictures__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.our__pictures__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    overflow-y: hidden;
    height: max-content;
}

.our__pictures__grid__picture__wrap {
    border-radius: var(--picture-border-radius);
}
.our__pictures__grid__picture__wrap img{
    width: 100%;
}

@media screen and (max-width:1200px){
.about__us__info{
    gap: 15px;
    height: max-content;
}
}
@media screen and (max-width:600px){
.big__size{
    font-size: 30px;
}
.our__pictures__grid{
    grid-template-columns: none;
    grid-template-rows: repeat(9,1fr);
}


}
@media screen and (max-width:800px){
    .directions__cards__wrap{
        grid-template-columns: none;
    }
    .modal__inner{
        min-width: 75%;
    }
}
@media screen and (max-width:1000px){
    .first__screen__inner{
        flex-direction: column;
    }
    .directions__card__wrap{
        grid-template-rows: 1fr 1fr;
    }
    .about__us__wrap{
        grid-template-columns: none;
        grid-template-rows: 0.75fr max-content;
        gap: 40px;
        max-height: max-content;
    }
    .about__us__wrap .yellow__button{
        margin: 0px auto;
    }
    .about__us__info{
        gap: 25px;
    }

    .vision__card__split{
        flex-direction: column;
    }
    .vision__card{
        height: max-content;
        width: 80%;
    }
    .more__about__button__arrow__wrap{
        display: none;
    }
}

.modal__inner{
    max-width: 50%;
    height: max-content;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    position: relative;
}
.close_btn {
    width: 20px;
    height: 20px;
    position: relative;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.close_btn span {
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    height: 2px;
    background-color: #000;
}
.close_btn .f {
    transform: rotate(45deg);
}
.close_btn .s {
    transform: rotate(-45deg);
}
.modal__inner h2{
    text-align: center;
}