.wrap {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}

.inner {
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.title {
    text-transform: uppercase;
    font-weight: normal;
}

.yellow__button {
    width: max-content;
    border-radius: var(--button-border-radius);
    background-color: var(--yellow);
    padding: 10px 25px;
    border: none;
    color: var(--blue);
    text-transform: uppercase;
    height: 50px;
    font-family: 'Kyiv Region'
}

.first__screen__wrap {
    width: 100%;
    height: 600px;
    background: url('../../img/first-screen.png') no-repeat;
    background-size: cover;
    border-radius: var(--picture-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}

.first__screen__inner {
    color: #fff;
    display: flex;
    height: 100%;
    width: 100%;
}

.first__screen__info__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first__screen__info__inner {
    width: 75%;
    display: flex;
    flex-direction: column;
}






.vision__wrap {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.vision__card__split {
    display: flex;
    gap: 25px;
}

.vision__card {
    height: max-content;
    padding: 25px;
    border: solid 2px var(--blue);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 125px;
    width: 50%;
    margin: auto;
}
.vision__card__content{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 75%;
}
.vision__card:hover {
    cursor: pointer;
    transition: all .3s;
}
/* .vision__card:focus{
    transform-style: preserve-3d;
    transform: rotate(180deg);

} */
.vision__card__desc {
    border: solid 2px var(--yellow);
}

.vision__card__info {
    display: flex;
    align-items: center;
    gap: 15px;
    text-transform: uppercase;
}

.vision__arrow__wrap {
    max-width: 26px;
}

.vision__card__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
}




.directions__wrap {
    text-align: center;
    height: max-content;
}

.directions__cards__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
}

.directions__card__wrap {
    width: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 15px;
}

.directions__card__img {
    border-radius: var(--picture-border-radius);
}

.directions__card__info {
    border-radius: var(--card-border-radius);
    border: solid 2px var(--blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding: 12px;
}
.directions__card__info h3, .directions__card__info p{
    margin: 0;
}
.directions__card__panel {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.directions__card__panel p{
    max-width: 75%;
}
.directions__card__img img{
    width: 100%;
}
.directions__card__button {
    border-radius: var(--button-border-radius);
    background-color: var(--blue);
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more__about__button {
    width: 100%;
    border-radius: var(--button-border-radius);
    background-color: var(--blue);
    color: #fff;
    border: none;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.more__about__button__inner {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more__about__button__arrow__wrap {
    max-width: 18px;
}



.about__us__wrap {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12.5%;
}

.about__us__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__us__img__wrap img {
    max-width: 100%;
}

.about__us__info>h2,
.about__us__info>p {
    margin: 0;
}




.our__pictures__wrap {
    width: 100%;
    height: max-content;
    text-align: center;
}

.our__pictures__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.our__pictures__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.our__pictures__grid__picture__wrap {
    border-radius: var(--picture-border-radius);
}
.our__pictures__grid__picture__wrap img{
    width: 100%;
}


@media screen and (max-width:1000px){
    .directions__cards__wrap{
        grid-template-columns: none;
        grid-template-rows: repeat(5,1fr);
    }
    .about__us__wrap{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        gap: 40px;
        height: max-content;
    }
    .about__us__wrap .yellow__button{
        margin: 0px auto;
    }
    .about__us__info{
        gap: 25px;
    }
    .our__pictures__grid{
        grid-template-columns: none;
        grid-template-rows: repeat(9,1fr);
    }
    .vision__card__split{
        flex-direction: column;
    }
    .vision__card{
        width: 100%;
    }
}
