.header__wrap {
    width: 100%;
    height: max-content;
    padding: 25px 0px;
}

.header__inner {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__panel {
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 25px;
}

.header__phone__button {
    border-radius: var(--button-border-radius);
    border: solid 1px var(--blue);
    color: var(--blue);
    background: none;
    padding: 12.5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    height: 50px;
}
.header__icon__wrap{
    max-width: 24px;
    max-height: 24px;
}
.header__support__button {
    border-radius: var(--button-border-radius);
    background-color: var(--yellow);
    padding: 15px 12.5px;
    border: none;
    color: var(--blue);
    text-transform: uppercase;
    font-family: 'Kyiv Region';

}

.lang__wrap {
    border-radius: var(--button-border-radius);
    border: solid 1px var(--blue);
    display: flex;
    height: max-content;
    gap: 5px;
    color: var(--blue);
    padding: 7.5px 5px;
    text-transform: uppercase;

}

.lang__wrap span:hover {
    transition: all .3s;
    /* font-weight: bolder; */
    cursor: pointer;
}

.lang__line {
    width: 1.5px;
    background-color: var(--blue);
}

.active {
    font-weight: bolder;
}