
@font-face {
  font-family: "Kyiv Region";
  src: url('../public/fonts/KYIVREGION-REGULAR.TTF')
}
@font-face {
  font-family: "Latoweb";
  src: url('../public/fonts/LATOWEB-REGULAR.TTF')
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Kyiv Region';
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --yellow:#F3C623;
  --blue:#30358C;
  --picture-border-radius:10px;
  --card-border-radius:10px;
  --button-border-radius:5px;
}
p,span,h3{
  font-family: 'Latoweb';
}
button{
  cursor: pointer;
}
button:hover{
  transition: all .3s;
  transform: scale(1.05);
}

